<h1>Listing microposts</h1>

<table border="1">
  <tr bgcolor="black">
    <th><font color="white"><b>Content</b></font></th>
    <th><font color="white"><b>User</b></font></th>
    <th colspan="2"><font color="white"><b>Action</b></font></th>
  </tr>

<% @microposts.each do |micropost| %>
  <tr>
    <td><%= micropost.content %></td>
    <td><%= micropost.user_id %></td>
    <td colspan="3" bgcolor="black"><%= link_to 'Show', micropost %><font color="white"> | </font>
    <%= link_to 'Edit', edit_micropost_path(micropost) %> <font color="white"> | </font>
<%= link_to 'Destroy', micropost, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr bgcolor="black"><td colspan="4"><%= link_to '<< New Micropost', new_micropost_path %></td></tr>

</table>

<br />

<%= link_to 'New Micropost', new_micropost_path %>
